// Page
$pageWidth: 1364px;

// Device Padding
$desktopPadding: 4.8rem;
$tabletPadding: 2.4rem;
$mobilePadding: 1.6rem;

// Backgrounds
$appBgColor: #23263a;
$navBgColor: #1f2235;

// Text
$textLight: #fff;
$textLight2: #eee;
