// Container
$maxContainerWidth: 1364px;

// Padding
$horizontalPadding: clamp(1.6rem, 4vw, 4.8rem);
$verticalPadding: clamp(4rem, 7.5vw, 10rem);

// Colours
$light-color: #fff;
$light-grey: #f9f9f9;
$mid-grey: #c5c5c5;
$dark-grey: #707070;
$text-black: #071c1f;
$dark-color: #000;
$accent-color: #da3b26;
$link-color: #1875c0;
$link-hover: #145a94;
