// Page
$pageWidth: 1364px;

// Device Padding
$desktopPadding: 4.8rem;
$tabletPadding: 2.4rem;
$mobilePadding: 1.6rem;

// Backgrounds
$mobileNavBgColor: #eee;
$appBgColor: #23263a;
$navBgColor: #1f2235;

// Text
$accentColor: #d82d39;
$textLight: #fefefe;
$textLight2: #ccc;

$textDark: #000;
$textDark2: #212121;
