.list-group {
  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .list-link {
    margin: 0.5rem 0;

    &::before {
      margin-right: 1rem;
      content: "\276F";
      color: $accent-color;
    }

    a {
      color: $link-color;
      transition: color 0.4s;
      &:hover {
        color: $accent-color;
      }
    }
  }

  &.light {
    h3 {
      color: $dark-grey;
    }
    .list-link {
      a {
        color: $mid-grey;
        &:hover {
          color: $light-color;
        }
      }
    }
  }
}
