.nav {
  position: fixed;
  width: 100%;
  height: 10rem;
  transition: 0.4s;
  border-bottom: 1px solid $dark-grey;
  z-index: 10;

  &.light {
    background-color: $light-color;

    .bar {
      background-color: $text-black;
    }

    .nav__logo {
      color: $text-black;
    }

    a {
      color: $dark-grey;

      &:hover {
        color: $text-black;
      }
    }
  }

  &.dark {
    background-color: $dark-color;

    .bar {
      background-color: $light-color;
    }

    .nav__logo {
      color: $light-color;
    }

    a {
      color: $mid-grey;

      &:hover {
        color: $light-color;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__mobile-menu {
    position: relative;
    margin-right: 1.6rem;
    width: 24px;
    height: 24px;
    cursor: pointer;

    .bar {
      position: absolute;
      width: 100%;
      height: 3px;
      transition: 0.4s;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }
    }

    &.open {
      .bar {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          left: -200%;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }

    @media (min-width: 601px) {
      display: none;
    }
  }

  &__logo {
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 2rem;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__link {
    a {
      padding: 0.4rem 0;
      text-transform: capitalize;
      line-height: 1;
      cursor: pointer;
      transition: color 0.4s;
    }

    &:last-child {
      padding: 0.8rem 1.6rem;
      border-radius: 4.3rem;
      background-color: $accent-color;

      a,
      a:hover {
        color: #fff;
      }
    }
  }
}
