.footer {
  padding: 0 $horizontalPadding;
  color: $mid-grey;
  background-color: $dark-color;

  &__columns {
    padding: $verticalPadding 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: $verticalPadding;

    .logo {
      margin-bottom: 2rem;
      display: block;
      font-size: clamp(1.8rem, 2.5vw, 2.4rem);
      color: $light-color;
      font-weight: 800;
      text-transform: uppercase;
      text-decoration: none;
    }

    p {
      max-width: 20ch;
      margin-bottom: 2rem;
      color: $mid-grey;
    }

    .links {
      svg {
        font-size: clamp(2.4rem, 3.5vw, 4rem);
        height: auto;
        fill: $light-grey;
      }
      > *:not(:last-child) {
        margin-right: 1rem;
      }
    }

    h4 {
      color: $dark-grey;
    }

    a {
      display: inline-block;
      color: $mid-grey;
      &:hover {
        color: $light-color;
      }
    }

    ul li {
      margin: 0.5rem 0;
    }
    ul li:before {
      margin-right: 1rem;
      content: "\276F";
      color: $accent-color;
    }
  }

  &__back-to-top {
    padding-bottom: $verticalPadding;
    display: flex;
    justify-content: flex-end;
  }
}

.footer__bottom {
  border-top: 1px solid $dark-grey;
  padding: 2rem $horizontalPadding;
  background-color: $dark-color;

  p {
    color: $mid-grey;
  }
}
