.mobile-nav {
  position: fixed;
  top: 10rem;
  left: -100%;
  width: 100%;
  height: calc(100vh - 10rem);
  background-color: $dark-color;
  transition: left 0.4s;
  z-index: 9;

  h4 {
    margin: 0;
    padding: 1.6rem;
    color: $dark-grey;
  }

  &__links {
    margin-bottom: 2rem;
    padding: 0 1.6rem;
    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    cursor: pointer;

    &:before {
      margin-right: 1rem;
      content: "\276F";
      color: $accent-color;
    }

    a {
      color: $mid-grey;
      &:hover {
        color: $light-color;
      }
    }
  }

  &__icon {
    fill: $accent-color;
  }

  &__text {
    margin-left: 1rem;
    color: $text-black;
    font-weight: 500;
    text-decoration: none;
  }

  &.open {
    left: 0;
  }

  @media (min-width: 601px) {
    display: none;
  }
}
