.hero {
  margin: $verticalPadding 0;
  position: relative;

  &__cutouts {
  }
  &__final {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
}
