#about {
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: $verticalPadding;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-bottom: 2rem;
      }
    }
  }

  .section-title {
    text-align: left;
    span {
      color: $accent-color;
    }
  }

  .location {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    font-size: clamp(1.8rem, 2.5vw, 2.4rem);
    line-height: 1.618;
    font-weight: 500;

    svg {
      margin-right: 5px;
      fill: $accent-color;
    }
    span {
      font-weight: 500;
    }
  }
}
