.project {
  min-height: calc(100vh - 100px);
  background-color: #eee;

  &__title {
  }
  &__date {
    margin-bottom: 2rem;
  }
  &__description {
    margin-bottom: 2rem;
    color: $textDark2;
  }

  &__api,
  &__technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > li:not(:last-child) {
      margin-right: 1rem;
    }

    li {
      margin: 0.5rem 0;
      padding: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      background-color: #dedede;
    }
  }

  &__api {
    margin-bottom: 2rem;
  }

  a {
    &:nth-of-type(1) {
      @include button-styles(
        4rem 3rem 0 0,
        1.6rem 3.2rem,
        $textLight,
        $accentColor,
        none,
        4.3rem
      );
    }
    &:nth-of-type(2) {
      @include button-styles(
        2rem 0 0 0,
        1.6rem 3.2rem,
        $textDark,
        transparent,
        1px solid $accentColor,
        4.3rem
      );
    }
    @media (max-width: 400px) {
      display: block;
      width: 100%;
    }
  }
}
