.slides {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

section.workwear {
  &:nth-of-type(odd) {
    background-color: $light-color;
  }
  &:nth-of-type(even) {
    background-color: $light-grey;
  }
}

.split-grid {
  display: grid;
  grid-template-columns: 35rem 1fr;
  gap: clamp(4rem, 5vw, 8rem);
  align-items: center;

  .image {
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 30px rgba(0, 0, 0, 0.05);
    img {
      width: 100%;
    }
  }
}
.slide {
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    transition: 0.4s;
  }

  &__title {
    margin-top: 1rem;
    text-align: center;
  }

  &:hover > img {
    transform: scale(1.1);
  }
}

.banner {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  background-color: $light-grey;

  &__block {
    padding: 2rem 1rem;
    display: flex;

    &__content {
      padding: 1rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 1.6rem;
      color: $text-black;
      text-align: left;
      font-weight: 700;
      text-transform: uppercase;
    }

    img {
      margin-right: 2rem;
      width: 8rem;
      height: 6rem;
    }

    p {
      font-size: 1.2rem;
      color: rgb(105, 105, 105);
    }
  }
}

.categories {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.category {
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;

  h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
  }

  button {
    width: max-content;
    margin-top: 2rem;
    padding: 1rem;
    color: $light-color;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #f4631b;

    &:hover {
      background-color: #f4631b;
    }
  }
}

.top-brands {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;

  .brand {
    img {
      width: 100%;
    }
  }
}
